pyyaml
pygelbooru
wavelink
openai
emoji
discord
python-dotenv
from youtube_search import YoutubeSearch
git+https://github.com/jericjan/saucenao_api#egg=saucenao_api
git+https://github.com/happyzxzxz/vk_api_5.131.git#egg=vk_api
